<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<!-- Add self introductions -->

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Ze-Feng Gao / 高泽峰
              </h1>
              <p>I am a Postdoctoral Researcher at the <a href="http://gsai.ruc.edu.cn/gaozefeng">Gaoling School of Artificial Intelligence</a> at <a href="https://www.ruc.edu.cn/">Renmin University of China</a>. 
              Under the guidance of <a href="https://gsai.ruc.edu.cn/addons/teacher/index/info.html?user_id=30&ruccode=20130047&ln=cn">Prof. Ji-Rong Wen</a> and <a href="https://gsai.ruc.edu.cn/haosun">Prof. Hao Sun</a>, my research focuses on several areas, including model compression, data compression, and the development of pre-training language models based on tensor networks.
              </p>
              <p>
                I hold a Ph.D. in Science from the Department of Physics at Renmin University of China, where I had the privilege of working under the supervision of <a href="http://www.phys.ruc.edu.cn/info/1145/1454.htm">Prof. Zhong-Yi Lu</a>.
              </p>
              <p>
                With my background in physics and current research interests in artificial intelligence, I bring a multidisciplinary approach to my work. I am passionate about exploring innovative techniques for compressing models and data, as well as leveraging tensor networks to enhance the performance of pre-training language models.
              </p>
              <p>
                Email: zfgao@ruc.edu.cn
              </p>
              <p style="text-align:center">
                <!-- <a target="_blank" href="https://mailhide.io/e/B8TyS"> Email</a> &nbsp;/&nbsp; -->
                <a href="https://github.com/zfgao66">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=vB64k4IAAAAJ&hl=zh-CN&oi=ao">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://dblp.org/pid/239/5268.html">DBLP</a> &nbsp;/&nbsp;
                <a href="https://www.zhihu.com/people/gaozefeng1995"> Zhihu </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:70%;max-width:70%" alt="profile photo" src="images/gaozefeng_cir.jpg">
            </td>
          </tr>
        </table>
         <!-- Add Education -->
         <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Education</h2>
              <li type="disc"> Ph.D. of Science, Renmin University of China, 2016-2021</li>
              <li type="disc"> B.Sc. of Physics, Renmin University of China, 2012-2016</li>              
              </p>
            </td>
          </tr>
        </table>

        <!-- Add Work Experience and Honors site -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Work Experience</h2>
              <li> 2021-present, Renmin University of China, Postdoctoral Researcher. Supervisor: Prof. Ji-Rong Wen.</li>
              <li type="disc"> 2021-present, Renmin University of China, Beijing Key Laboratory of Physics Department, Associate Researcher</li>
              
              
              <!-- <disc> 社会志愿服务奖学金 -->
              </p>
            </td>
          </tr>
        </table>
        <br>
        <br>
        <br>
        <!-- Add Education -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Invited talk</h2>
              <li type="disc"> Compressing deep neural network by matrix product operators, The 9th international workshop of quantum many body computasion physics, Renmin University of China, Beijing, 2019.04 </li>
              <li type="disc"> Parameter-Efficient Mixture-of-Experts Architecture for Pre-trained Language Models, 2022 BAAI Conference, Beijing, <a href="./pdfs/baai.pdf">2022.05</a> </li>
              <li type="disc"> <a href="https://physics.cnu.edu.cn/academic/a73c266c11b94151a8ab27411b73b525.htm">Matrix Product Operator and Natural Language Processing</a>, Capital Normal University, Beijing, <a href="./images/shoushida.jpg">2023.04</a> </li>
              <li type="disc">Small Pre-trained Language Models Can be Fine-tuned as Large Models via Over-Parameterization</a>, KDD Summer School, Southwest Jiaotong University, Chengdu, <a href="./pdfs/kdd.pdf">2023.07</a> </li>                 
              </p>
            </td>
          </tr>
        </table>
        <!-- Add RESEARCH PROJECTS and Honors site -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research Projects</h2>
              <li> Beijing Academy of Artificial Intelligence-Zhiyuan Foundation:Crosswise Tasks Program, Jan 2022 – Dec 2022, <br>
                 Lightweight Fine-tuning Strategy for Multimodal Pre-training Models based on Matrix Product Operator Method,  Role: PI</li>
              <li type="disc"> National Natural Science Foundation – Youth Program(Nos. 62206299),  Jan 2023 – Dec 2024<br>
                Lightweight Fine-tuning and Model Scaling Approach for Large Scale Pre-trained Language Models, Role: PI</li>
              <li type="disc"> National Natural Science Foundation – General Program(Nos. 62276269),  Jan 2023 – Dec 2025<br>
                         , Role: Participate</li>
              <li type="disc"> National Natural Science Foundation – General Program(Nos. 11874421),  Jan 2019 – Dec 2022<br>
                Some Issues in Multibody Localization, Role: Participate</li>
              <li type="disc"> National Natural Science Foundation – General Program(Nos. 11774422),  Jan 2018 – Dec 2021<br>
                Several Problems in Quantum Impurity Systems based on Natural Orbital Reformation Groups in Quantum Impurity Systems, Role: Participate</li>
              
              <!-- <disc> 社会志愿服务奖学金 -->
              </p>
            </td>
          </tr>
        </table>
        <br>
        <br>
        <br>

        <!-- Add 2023 Pubulications  -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Publications</h2>
              <p> </p>
              <h3>2023</h3>
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == '2023_research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.link %}
              <a href="{{post.link}}">link</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>


        <!-- Add 2022 Pubulications  -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <p> </p>
              <h3>2022</h3>
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == '2022_research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.link %}
              <a href="{{post.link}}">link</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <p> </p>
              <h3>2021</h3>
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == '2021_research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.link %}
              <a href="{{post.link}}">link</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h3>2020</h3>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == '2020_research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.link %}
              <a href="{{post.link}}">link</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <p>* Equal contribution  &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <sup>#</sup> Corresponding author</p>
        

        
        <br>
        <br>
        <br>

        <!-- Add Professional Services and Honors site -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Professional Services</h2>
              <li type="disc"> Reviewer: WSDM2022, ACCV2022, COLING2022</li>
              
              
              <!-- <disc> 社会志愿服务奖学金 -->
              </p>
            </td>
          </tr>
        </table>
        <br>
        <br>
        <br>

        <!-- Add Selected Awards and Honors site -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <tr>
              <td style="padding:2.5%;width:100%;vertical-align:middle">
                <h2>Selected Awards and Honors</h2>
                <li type="disc"> Outstanding graduates, Renmin University of China, 2021</li>
                <li type="disc"> National Scholarship for Graduate Student, Ministry of Education of P.R.China, 2020</li>
                <li type="disc"> First class academic scholarship, Renmin University of China, 2020</li>
                <li type="disc"> Social Volunteer Service Scholarship,Renmin University of China, 2019</li>
                <li type="disc"> First class academic scholarship, Renmin University of China, 2019</li>
                <li type="disc"> First class academic scholarship, Renmin University of China, 2018</li>
                <li type="disc"> First class academic scholarship, Renmin University of China, 2016</li>
                <li type="disc"> Innovation experiment plan for college students, national level, 2013</li>
                
                <!-- <disc> 社会志愿服务奖学金 -->
                </p>
              </td>
            </tr>
          </table>
          <br>
          <br>
          <br>
         
        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Other Projects</h2>
              <p> These include coursework, side projects and unpublished research work. 
              </p>
            </td>
          </tr>
        </table> -->

        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html> -->