<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<!-- Add self introductions -->

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                高泽峰（Ze-Feng Gao）
              </h1>
              <p> <a href="http://www.phys.ruc.edu.cn/info/1304/2128.htm"> 中国人民大学物理学院讲师 </a>。研究方向为量子物理数值方法、预训练模型压缩、AI辅助功能性晶体材料的发现与生成。基于矩阵乘积算符表示的神经网络、针对语音增强领域的模型压缩和小型化和面向预训练模型的轻量化微调与模型扩容三个方面，构建了基于矩阵乘积算符表示的理论方法。同时，应用人工智能方法辅助功能性新材料发现。已在本领域相关的国内外学术期刊和会议上发表论文十余篇，涵盖ACL、NeurIPS、EMNLP、COLING等人工智能重要会议和Phys.Rev.Research、IEEE TASLP等SCI重要期刊。其中，基于矩阵乘积算符实现预训练模型的过参数化过程的工作获得ACL2023最佳论文提名。研究成果被来自剑桥大学、斯坦福大学、Meta公司等科研机构的领域专家引用。近三年主持基金6项，包括国家自然科学基金青年科学基金项目1项、国家自然科学基金面上项目1项、国家自然科学基金重点项目（子课题）1项与横向项目3项。
              </p> 
                 
        
              <p>
                Email: zfgao@ruc.edu.cn
              </p>
              <p style="text-align:center">
                <!-- <a target="_blank" href="https://mailhide.io/e/B8TyS"> Email</a> &nbsp;/&nbsp; -->
                <a href="https://github.com/zfgao66">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=vB64k4IAAAAJ&hl=zh-CN&oi=ao">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://dblp.org/pid/239/5268.html">DBLP</a> &nbsp;/&nbsp;
                <a href="https://www.zhihu.com/people/gaozefeng1995"> Zhihu </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:70%;max-width:70%" alt="profile photo" src="images/gaozefeng_cir.jpg">
            </td>
          </tr>
        </table>
         <!-- Add Education -->
         <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>教育经历</h2>
              <li type="disc"> 2016.09-2021.06, 中国人民大学， 理论物理， 博士.  导师： <a href="http://www.phys.ruc.edu.cn/info/1178/1533.htm"> 卢仲毅</a> 教授.</li>
              <li type="disc"> 2012.09-2016.06, 中国人民大学， 物理学，  学士.</li>              
              </p>
            </td>
          </tr>
        </table>

        <!-- Add Work Experience and Honors site -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>工作经历</h2>
              <li> 2021.07-2024.06, 中国人民大学, 博士后研究员. 合作导师： <a href="https://gsai.ruc.edu.cn/jrwen"> 文继荣</a> 教授.</li>
              <li type="disc"> 2021.07-至今, 中国人民大学, 量子测量与调控教育部重点实验室, 副研究员</li>
              
              
              <!-- <disc> 社会志愿服务奖学金 -->
              </p>
            </td>
          </tr>
        </table>
        <br>
        <br>
        <br>
        <!-- Add Education -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>邀请报告</h2>
              <li type="disc"> Compressing deep neural network by matrix product operators, The 9th international workshop of quantum many body computasion physics, Renmin University of China, Beijing, 2019.04 </li>
              <li type="disc"> Parameter-Efficient Mixture-of-Experts Architecture for Pre-trained Language Models, 2022 BAAI Conference, Beijing, <a href="./pdfs/baai.pdf">2022.05</a> </li>
              <li type="disc"> <a href="https://physics.cnu.edu.cn/academic/a73c266c11b94151a8ab27411b73b525.htm">Matrix Product Operator and Natural Language Processing</a>, Capital Normal University, Beijing, <a href="./images/shoushida.jpg">2023.04</a> </li>
              <li type="disc">Small Pre-trained Language Models Can be Fine-tuned as Large Models via Over-Parameterization</a>, KDD Summer School, Southwest Jiaotong University, Chengdu, <a href="./pdfs/kdd.pdf">2023.07</a> </li>                 
              </p>
            </td>
          </tr>
        </table>
        <!-- Add RESEARCH PROJECTS and Honors site -->
        










        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>科研项目</h2>
              <li> 国家自然科学基金委，面上项目，大规模预训练语言模型的高效压缩方法研究(Nos. 62476278)，主持</li>
              <li type="disc"> 国家自然科学基金委，青年项目，大规模预训练语言模型的轻量化微调与模型扩容方法研究(Nos. 62206299)，主持</li>
              <li type="disc">国家自然科学基金委，重点项目子课题，强关联电子材料超快动力学的第一性原理多体计算方法研究（Nos.12434009），主持</li>
              <li type="disc"> 北京市智源人工智能研究院，横向项目，基于矩阵乘积算符的多模态模型的轻量化微调，主持</li>
              <li type="disc"> CCF-智谱大模型项目，横向项目，基于张量分解的预训练模型压缩策略，主持</li>
              <li type="disc"> 中国科学院大学外协项目，横向项目，面向非线性动力系统建模的物理启发深度图学习理论与技术，主持</li>
              参与项目：
              <li type="disc"> 国家自然科学基金委，面上项目，基于物理嵌入深度图学习的复杂时空系统科学计算理论与算法(Nos. 62276269)</li>
              <li type="disc"> 国家自然科学基金委，面上项目，张量网络与神经网络在强关联系统中的结合、发展与应用(Nos. 11874421)</li>
              <li type="disc"> 国家自然科学基金委，面上项目，基于自然轨道重整化群对量子杂质系统中若干问题的研究(Nos. 11774422)</li>
              <li type="disc">国家自然科学基金委，面上项目，多体局域化的若干问题研究(Nos. 11874421) </li>
              <li type="disc">北京自然科学基金委，重点研究专题，离子阱量子计算技术与算法的研究</li>
              <!-- <disc> 社会志愿服务奖学金 -->
              </p>
            </td>
          </tr>
        </table>
        <br>
        <br>
        <br>



      <!-- Add 2024 Pubulications  -->
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tr>
          <td style="padding:2.5%;width:100%;vertical-align:middle">
            <h2>科研论文</h2>
            <p> </p>
            <h3>2024</h3>
          </td>
        </tr>
      </table>

      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        {% for post in site.posts %}
        {% for cat in post.categories %}
        {% if cat == '2024_research' %}
        <tr>
          <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
            <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
          </td>
          <td style="padding:2.5%;width:75%;vertical-align:middle">
            <h3>{{post.title}}</h3>
            <br>
            {{post.authors}}

            <br>
            <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
            <br>
            {% if post.paper %}
            <a href="{{post.paper}}">paper</a> /
            {% endif %}
            {% if post.arxiv %}
            <a href="{{post.arxiv}}">arxiv</a> /
            {% endif %}
            {% if post.video %}
            <a href="{{post.video}}">video</a> /
            {% endif %}
            {% if post.code %}
            <a href="{{post.code}}">code</a> /
            {% endif %}
            {% if post.poster %}
            <a href="{{post.poster}}">poster</a> /
            {% endif %}
            {% if post.slides %}
            <a href="{{post.slides}}">slides</a> /
            {% endif %}
            {% if post.link %}
            <a href="{{post.link}}">link</a> /
            {% endif %}
            <p></p>
            {{ post.excerpt }}
          </td>
        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}
      </table>
      <br>
      <br>
      <br>


      
        <!-- Add 2023 Pubulications  -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">        
              <p> </p>
              <h3>2023</h3>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == '2023_research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.link %}
              <a href="{{post.link}}">link</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>


        <!-- Add 2022 Pubulications  -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <p> </p>
              <h3>2022</h3>
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == '2022_research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.link %}
              <a href="{{post.link}}">link</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <p> </p>
              <h3>2021</h3>
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == '2021_research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.link %}
              <a href="{{post.link}}">link</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h3>2020</h3>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == '2020_research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.link %}
              <a href="{{post.link}}">link</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <p>* Equal contribution  &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <sup>#</sup> Corresponding author</p>
        

        
        <br>
        <br>
        <br>

        <!-- Add Professional Services and Honors site -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>社会服务</h2>
              <li type="disc"> 程序委员：WSDM，CCIR</li>
                <p></p>
              <li type="disc"> 审稿人：WSDM, ACCV, COLING, ACL, EMNLP</li>

              <!-- <disc> 社会志愿服务奖学金 -->
              </p>
            </td>
          </tr>
        </table>
        <br>
        <br>
        <br>

        <!-- Add Selected Awards and Honors site -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <tr>
              <td style="padding:2.5%;width:100%;vertical-align:middle">
                <h2>荣誉奖励</h2>
                <li type="disc"> ACL2023 最佳论文提名</li>

                </p>
              </td>
            </tr>
          </table>
          <br>
          <br>
          <br>
         
        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Other Projects</h2>
              <p> These include coursework, side projects and unpublished research work. 
              </p>
            </td>
          </tr>
        </table> -->

        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html> -->